* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.r-container {
  width: 1415px;
  background-color: rgb(243, 239, 239);
  margin-left: -99px;
  display: flex;
  padding: 15px;
  margin-top: 4px;
}
.r-text {
  display: flex;
  justify-content: space-between;
}
.r-h1 {
  font-size: 4em;
  margin-left: 33px;
}
.r-btn-div {
  margin-left: 800px;
}
.r-btn {
  margin-top: 40px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 30px;
  border-radius: 25px;
  border-style: none;
  background-color: rgb(220, 213, 213);
}
